ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AD9A41;
}

li {
    float: left;
}

li a {
    display: block;
    color: #DFD7B3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #122450;
    text-decoration: underline;

  }
