body{

  background-color: rgba(173, 154, 65, 0.45);


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AD9A41;
    border-radius: 6px;
}

li a, img{
  float: left;
}
li a{

    display: block;
    color: #DFD7B3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    font-family: Arial;
}

li button {
  float: right;
  display: block;
  color: #DFD7B3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: Transparent;
  font-style: normal;
  font-size: 20px;
  font-family: Arial;

}
#boton-registro{

  border: 2px solid #DFD7B3;
  border-radius: 3px;


  }
#boton-ingresar{


  border: 0px;

}

li img{
  width: 100px;
  height: 50px;
}


li a:hover, button:hover {
    background-color: #122450;
    text-decoration: underline;

  }
