body{
  background: rgba(173, 154, 65, 0.45);
}

.encabezado-registro {
background-color: #AD9A41;
height: 50px;
font-family: Arial;
font-size: 20px;
}

.encabezado-registro h1{
  text-align: center;
}

#boton-cancelar {
  float: right;
  display: block;
  color: #DFD7B3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: Transparent;
  font-style: normal;
  font-size: 20px;
  font-family: Arial;
}

#boton-cancelar:hover {
    background-color: #122450;
    text-decoration: underline;
    border-radius: 3px;
}


.main-content{
  width: 700px;
  padding: 20px;
  color: #122450;
  margin: 30px auto 0 auto;
  font-style: normal;
  font-size: 20px;
  font-family: Arial;
}
.main-content p, input, label, fieldset, form{
  text-align: center;
}

#registrar {
  height: 100px;
  width: 100px;
}
