body{
  background: rgba(173, 154, 65, 0.45);
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
}





.main-content{
  width: 700px;
  padding: 20px;
  color: #122450;
  margin: 30px auto 0 auto;
  font-style: normal;
  font-size: 20px;
  font-family: Arial;
}

.main-content p, input, label, form {
text-align: center;
}

#registrar {
  height: 100px;
  width: 100px;
}


fieldset {
  width: auto;
  height: auto;
  border: 1px solid #122450;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

legend {
  background-color: rgba(205, 196, 150, 1);
  border: 1px solid #122450;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}
