h1{
  color: #122450;
  text-align: center;
}
.contenido, #footer {
  overflow: auto;
  margin: auto;
  padding: 10px;
}
.contenido div{
  background: rgba(223, 215, 145, .40);
}
.columna-uno, .columna-tres, .columna-dos, .columna-cuatro  {

  background: rgba(223, 215, 145, .40);
  border: 2px solid rgba(18, 36, 80, 0.25);
  border-radius: 6px;

}
.contenido{
  color: #122450;
}
.columna-uno, .columna-tres {
  width: 45.95%;
  float: left;
  margin: 1%;
  padding-right: 10px;
}

.columna-dos, .columna-cuatro {
  width: 45.95%;
  float: left;
  margin: 1%;
  padding-right: 10px;
  overflow: auto;
}

ul li p {
  text-align: center;
}
h1 {
  margin-left: 10px;
}

#footer {
  color: #efefef;
  padding: 0.5em 0;
  margin: 1%;
  border: 1px solid rgba(18, 36, 80, 0.25);
  border-radius: 5px;
}
#footer p{
  color: #122450;
  text-align: center;
}


.article {
  height: 15em;
  margin-bottom: 1em;
  background-color: #efefef;
}
.columna-uno img, .columna-dos img, .columna-tres img, .columna-cuatro img{
  float: left;
}
